/*-----------------------------------*\
 * #style.css
\*-----------------------------------*/

/**
 * copyright 2022 @codewithsadee
 */





/*-----------------------------------*\
 * #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

    /**
     * colors
     */

    --rich-black-fogra-29: hsl(0, 0%, 0%);
    --rich-black-fogra-30: hsl(234, 98%, 79%);
    --silver-chalice: hsl(0, 0%, 100%);
    --floral-white:  hsl(210, 100%, 97%);
    --raisin-black: hsl(240, 8%, 18%);
    --sonic-silver: hsl(240, 3%, 45%);
    --mango-tango: hsl(20, 100%, 64%);
    --orange-web: hsl(0, 0%, 100%);
    --cultured: hsl(210, 17%, 98%);
    --mantis: hsl(118, 41%, 62%);
    --gambog: hsl(39, 100%, 45%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --onyx: hsl(0, 0%, 23%);

    --gradient: linear-gradient(90deg, hsl(204, 100%, 98%) 21.32%, hsl(144, 45%, 98%) 130%);

    /**
     * typography
     */

    --ff-poppins: 'Poppins', sans-serif;
    --ff-rubik: 'Rubik', sans-serif;
    --dm-sans: 'DM Sans', sans-serif;

    --fs-1: 20px;
    --fs-2: 28px;
    --fs-3: 24px;
    --fs-4: 20px;
    --fs-5: 18px;

    --fw-500: 500;
    --fw-700: 700;

    /**
     * transition
     */

    --transition: 0.2s ease-in-out;

    /**
     * spacing
     */

    --section-padding: 80px;

  }





  /*-----------------------------------*\
   * #RESET
  \*-----------------------------------*/

  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  li { list-style: none; }

  a { text-decoration: none; }

  a,
  img,
  span,
  button,
  ion-icon { display: block;}

  button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
  }

  html { scroll-behavior: smooth; }

  body { background: var(--white); }





  /*-----------------------------------*\
   * #REUSED STYLE
  \*-----------------------------------*/

  .container { padding-inline: 15px; }

  .btn {
    color: var(--white);
    font-family: var(--ff-poppins);
    padding: 20px 30px;
    border-radius: 15px;
    transition: var(--transition);
  }

  .btn-secondary {
    background: #000000;
    box-shadow: inset 0 -10px 20px hsl(240, 8%, 37%);
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
    border-radius: 10px;
  }

  .btn-secondary:is(:hover, :focus) {
    background: #000000;
    box-shadow: 5px 10px 30px hsla(220, 100%, 30%, 0.3);
    transform: translateY(-3px);
  }

  .btn-primary {
    background: #417fe2;
    box-shadow: 5px 10px 30px hsla(220, 100%, 30%, 0.3);
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
    border-radius: 10px;
  }

  .btn-primary2 {
    background: #417fe2;
    box-shadow: 5px 10px 30px hsla(220, 100%, 30%, 0.3);
    border-radius: 10px;
  }

  .btn-primary2:is(:hover, :focus) {
    background: #0046A1;
    transform: translateY(-3px);
  }

  .btn-primary:is(:hover, :focus) {
    background: #0046A1;
    transform: translateY(-3px);
  }

  .h1,
  .h2,
  .h3 {
    font-family: var(--ff-poppins);
    color: var(--rich-black-fogra-29);
  }

  .h1 {
    font-size: 40px;
    line-height: 1.4;
    font-weight: var(--fw-700);
  }

  .highlight-2 {
      color: #4a90e2;
      margin-left: 10px;
  }



  .h2 {
    font-size: var(--fs-1);
    line-height: 1.6;
  }

  .h3 {
    color: var(--onyx);
    font-size: var(--fs-3);
    line-height: 1.3;
  }

  .section-text,
  .card-text,
  .card-subtitle {
    font-family: var(--ff-rubik);
    color: var(--sonic-silver);
    font-size: var(--fs-5);
    line-height: 1.8;
    margin: 20px;
  }

  .vector-line { display: none; }





  /*-----------------------------------*\
   * #HEADER
  \*-----------------------------------*/

  .container-nv {
    display: flex;
    align-items: center;
  }

  .header {
     height: 90px;
    /* padding-block: 0; */
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 20px;
    background: #84ADFF;
    padding-block: 25px;
    position: fixed;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    z-index: 4;
    transition: padding var(--transition);
  }

  .header.active {
    height: 80px;
    background: #84ADFF;
    box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.1);
    padding-block: 20px;
  }

  .header .container-nv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .logo-nv img { 
    width: 180px; 
    flex-shrink: 0;
  }

  .logo-nv {
    margin-left: -15px;
  }

  .menu-open-btn {
    font-size: 35px;
    color: var(--mango-tango);
  }

  .navbar {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 250px;
    height: 100%;
    background: var(--mantis);
    padding: 80px 20px;
    transition: 0.15s ease-in;
    z-index: 3;
  }

  .navbar.active {
    left: 0;
    transition: 0.25s ease-out;
  }

  .menu-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    padding: 5px;
    background: var(--rich-black-fogra-29);
    color: var(--white);
  }
  
  .navbar-list {
    margin-left: 260px;
  }

  .navbar-link {
    color: #ffff;
    font-weight: var(--fw-500);
    padding-block: 15px;
    font-family: var(--dm-sans);
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
  }

  .image{
      width: 200px;
      height: auto;
      transform: 0.3s;
  }

  .image.highlight{
      margin-bottom: 50px;
      transform: scale(1.1);
  }

  .overlay {
    position: fixed;
    inset: 0;
    background: hsla(0, 0%, 0%, 0.7);
    pointer-events: none;
    opacity: 0;
    transition: 0.15s ease-out;
    z-index: 3;
  }

  .overlay.active {
    pointer-events: all;
    opacity: 1;
  }





  /*-----------------------------------*\
   * #HERO
  \*-----------------------------------*/

  .hero {
    padding: 150px 0 var(--section-padding);
    margin-top: -20px;
  }

  .hero-banner {

    margin-bottom: 30px;
    transform: translateY(-65px);
  }

  .hero-banner img { width: 100%; }

  .hero-title { margin-bottom: 20px;}

  .hero .section-text { margin-bottom: 45px; }

  .hero-content {
    display: flex;
    flex-direction: column; /* Susun elemen secara vertikal */
    align-items: flex-start; /* Selaraskan elemen ke kiri */
    text-align: left; /* Teks juga disejajarkan ke kiri */
    padding: 15px; /* Tambahkan padding sesuai kebutuhan */
  }

  .hero-content p {
    margin: 20px 0;
  }






  /*-----------------------------------*\
   * #ABOUT
  \*-----------------------------------*/

  .about { padding-block: var(--section-padding);}

  .about-banner {
    position: relative;
    margin-bottom: 40px;
  }

  .about-content {
    display: flex;
    flex-direction: column; /* Susun elemen secara vertikal */
    align-items: flex-start; /* Selaraskan elemen ke kiri */
    text-align: left; /* Teks juga disejajarkan ke kiri */
    padding: 20px; /* Tambahkan padding sesuai kebutuhan */
    margin-left: 50px; /* Geser seluruh elemen ke kanan */
  }

  .about-content p {
    margin: 20px 0;
  }

  .h2.about-title {
    margin-bottom: 0px; /* Jarak bawah h2 */
  }

  .section-text {
    margin-top: 0; /* Hilangkan atau kurangi jarak atas p */
  }

  .handphone {
    width: 200px;
    transform: translateX(-20px);
  }

  @keyframes pulseAnim {

    0% {
      transform: scale(1);
      border-color: var(--black);
    }

    100% {
      transform: scale(1.5);
      border-color: transparent;
    }

  }

  .about-title { margin-bottom: 30px; }

  .about .section-text { margin-bottom: 50px; }





  /*-----------------------------------*\
   * #DEPARTMENTS
  \*-----------------------------------*/

  /* .departments {
    padding-block: var(--section-padding);
    background: var(--floral-white);
  }

  .departments-title {
    text-align: center;
    margin-bottom: 50px;
  }

  /* .departments-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }

  .departments-card {
    background: var(--white);
    box-shadow: 5px 30px 50px hsla(0, 1%, 15%, 0.05);
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    margin: 5px;
  } */

  /* .departments-list {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      gap: 25px;
    }

    .departments-card {
      background: var(--white);
      box-shadow: 5px 30px 50px hsla(0, 1%, 15%, 0.05);
      width: 280px;
      padding: 10px;
      border-radius: 20px;
      margin-bottom: 0;
      box-sizing: border-box;
    }

  .departments-card .card-banner {
    margin-bottom: 5px;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
  }

  .departments-card img {
    width: 90%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition);
  }

  .departments-card:hover img { transform: scale(1.05); }

  .departments-card .card-title { margin-bottom: 15px; }

  .departments-card .card-text {
    line-height: 1.5;
    margin-bottom: 20px;
  }

  .departments-card .card-link {
    color: #0046A1;
    font-family: var(--ff-rubik);
    font-weight: var(--fw-500);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    transition: var(--transition);
  }

  .departments-list li{
      list-style: none;
  }

  .departments-card .card-link:is(:hover, :focus) { gap: 15px; }

  .departments .btn-primary { margin-inline: auto; } */

    .departments {
      padding-block: var(--section-padding);
      background: var(--floral-white);
      text-align: left;
    }

    .container .departments-content {
      display: flex;
      flex-direction: column; /* Susun elemen secara vertikal */
      align-items: flex-start; /* Selaraskan elemen ke kiri */
      text-align: left; /* Teks juga disejajarkan ke kiri */
      padding: 20px; /* Tambahkan padding sesuai kebutuhan */
    }
  
    .departments-content p {
      margin: 20px 0;
      margin-left: 30px;
    }
  
    .departments-content h2 {
      margin: 20px 0;
      margin-left: 30px;
    }

    .departments-list {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      gap: 25px;
      padding: 0;
    }

    .departments-list li {
      list-style: none;
    }

    .hero-departments {
      display: flex;
    }

    .departments-card {
      position: relative;
      background: var(--white);
      box-shadow: 5px 30px 50px hsla(0, 1%, 15%, 0.05);
      width: 280px;
      max-height: 320px;
      padding: 20px;
      border-radius: 20px;
      box-sizing: border-box;
      text-align: center;
      overflow: visible;
      margin-top: 60px;
      height: 100px;
    }

    .card-image {
      position: absolute;
      top: -60px;
      left: 50%;
      transform: translateX(-50%);
      width: 250px;
      height: 120px;
      background-color: var(--white);
      border-radius: 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30px 50px 20px 20px;
    }

    .card-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 30px 50px 20px 20px;
    }

    .card-content-dp {
      margin-top: 50px;
    }

    .card-title {
      margin-bottom: 20px;
      font-size: 1.2rem;
    }

    .card-text {
      line-height: 1.4;
    }




  /*-----------------------------------*\
   * #INSTRUCTOR
  \*-----------------------------------*/

  .instructor { padding-block: var(--section-padding); }

  .instructor .title-wrapper { margin-bottom: 80px; }

  .instructor-title { margin-bottom: 30px; }

  .instructor-list {
    display: grid;
    gap: 40px;
  }

  .instructor-card { text-align: center; }

  .instructor-card .card-banner {
    margin-bottom: 30px;
    transition: var(--transition);
  }

  .instructor-card:hover .card-banner { transform: translateY(-5px); }

  .instructor-card img {
    width: 100%;
    max-width: max-content;
    margin-inline: auto;
  }

  .instructor-card .card-title {
    color: var(--onyx);
    font-family: var(--ff-poppins);
    font-size: var(--fs-2);
  }

  .instructor-card .card-subtitle { margin-bottom: 15px; }

  .card-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  .card-social-link {
    color: var(--onyx);
    font-size: 18px;
  }





  /*-----------------------------------*\
   * #CTA
  \*-----------------------------------*/

  .cta {
    background: var(--raisin-black);
    padding-block: 50px;
  }

  .cta-title {
    color: var(--white);
    margin-bottom: 30px;
  }

  .cta-banner { display: none; }





  /*-----------------------------------*\
   * #FOOTER
  \*-----------------------------------*/

  .contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px; /* Jarak atas-bawah */
    background-color: #f8f9fa; /* Warna latar belakang */
    border-bottom: 1px solid #ddd; /* Garis pemisah dengan footer */
}

.form-box {
    width: 100%;
    max-width: 500px; /* Batas maksimum lebar form */
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Efek bayangan */
    border-radius: 8px;
}

.form-box h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    color: #333;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.form-group textarea {
    resize: none; /* Hilangkan tombol resize */
}

.form-submit-btn {
    display: block;
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff; /* Warna tombol */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.form-submit-btn:hover {
    background-color: #0056b3; /* Warna tombol saat hover */
}


  .footer {
      background: linear-gradient(to right, #97A2FE, #5366FF);
      clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
      border-radius: 5px;
      padding: 5px 15px;
      margin: 0;
      padding-top: 50px;
  }

  .footer-top {
      padding-block: 20px;
  }

  .footer-brand {
      margin-bottom: 30px;
  }

  .footer-brand .logo {
    width: 160px;
    margin-bottom: 20px;
  }

  .footer-text {
      color: var(--silver-chalice);
      font-family: var(--ff-rubik);
      line-height: 1.5;
      margin-bottom: 20px;
  }

  .footer .social-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }

  .footer .social-link {
    background: var(--raisin-black);
    color: var(--silver-chalice);
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    font-size: 18px;
    border-radius: 50%;
    border: 1px solid var(--raisin-black);
    transition: var(--transition);
  }

  .footer .social-link:is(:hover, :focus) {
    background: var(--rich-black-fogra-29);
    color: var(--cultured);
  }

  .footer-link-box {
      display: grid;
      gap: 20px;
  }

  .footer-list {
      max-width: 200px;
  }

  .footer-list li:first-child { margin-bottom: 10px; }

  .footer-link-title {
    color: var(--cultured);
    font-family: var(--ff-poppins);
    font-size: var(--fs-4);
  }

  .footer-link {
    color: var(--silver-chalice);
    font-family: var(--ff-rubik);
    padding-block: 10px;
    transition: var(--transition);
  }

  .footer-link:is(:hover, :focus) {
    color: var(--cultured);
    transform: translateX(3px);
  }

  .footer .contact-item { padding-block: 10px; }

  .footer .contact-item span {
    display: inline-block;
    color: var(--cultured);
    font-family: var(--ff-rubik);
    font-weight: var(--fw-500);
  }

  .footer .contact-link {
    display: inline-block;
    color: var(--silver-chalice);
    font-family: var(--ff-rubik);
    font-weight: var(--fw-500);
  }

  .footer .contact-link address { font-style: normal; }

  .footer-bottom {
    padding-block: 20px;
    border-top: 1px solid var(--onyx);
  }

  .copyright {
    color: var(--silver-chalice);
    font-family: var(--ff-rubik);
    line-height: 1.7;
    text-align: center;
  }

  .copyright a {
    display: inline-block;
    color: inherit;
    transition: var(--transition);
  }

  .copyright a:is(:hover, :focus) { color: var(--cultured); }





  /*-----------------------------------*\
   * #GO TO TOP
  \*-----------------------------------*/

  .go-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: var(--white);
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    font-size: 20px;
    color: var(--onyx);
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
    z-index: 2;
  }

  .go-top.active {
    opacity: 1;
    visibility: visible;
  }

  .go-top:is(:hover, :focus) { color: #0056b3; }





  /*-----------------------------------*\
   * #MEDIA QUERIES
  \*-----------------------------------*/

  /**
   * responsive for larger than 550px screen
   */

  @media (min-width: 550px) {

    /**
     * CUSTOM PROPERTY
     */

    :root {

      /**
       * typography
       */

      --fs-1: 45px;

    }



    /**
     * REUSED STYLE
     */

    .container {
      max-width: 550px;
      margin-inline: auto;
    }

    .h2 { --fs-1: 35px; }



    /**
     * HEADER
     */

    .header .logo { min-width: 160px; }



    /**
     * DEPARTMENTS
     */

    .departments-card { padding: 30px; }



    /**
     * INSTRUCTOR, FOOTER
     */

    .instructor-list,
    .footer-link-box { grid-template-columns: 1fr 1fr; }

  }





  /**
   * responsive for larger than 768px screen
   */

  @media (min-width: 768px) {

    /**
     * CUSTOM PROPERTY
     */

    :root {

      /**
       * typography
       */

      --fs-1: 55px;

    }



    /**
     * REUSED STYLE
     */

    .container { max-width: 750px; }



    /**
     * HERO, ABOUT
     */

    .hero-banner,
    .about-banner {
      max-width: 600px;
      margin-inline: auto;
    }

    .about-content { max-width: 600px; }



    /**
     * DEPARTMENTS
     */

    .departments-title {
      max-width: 600px;
      margin-inline: auto;
    }

    .departments-list { grid-template-columns: 1fr 1fr; }



    /**
     * INSTRUCTOR
     */

    .instructor-title { max-width: 600px; }



    /**
     * CTA
     */

    .cta {
      position: relative;
      z-index: 1;
    }

    .cta .title-wrapper { max-width: 60%; }

    .cta-banner {
      display: block;
      background: url("../images/cta-banner.png") no-repeat;
      background-size: contain;
      background-position: center;
      width: 350px;
      height: 350px;
      position: absolute;
      bottom: -26px;
      left: 51%;
    }



    /**
     * FOOTER
     */

    .footer-text { max-width: 400px; }

  }





  /**
   * responsive for larger than 1024px screen
   */

  @media (min-width: 1024px) {

    /**
     * CUSTOM PROPERTY
     */

    :root {

      /**
       * typography
       */

      --fs-1: 65px;

    }



    /**
     * REUSED STYLE
     */

    .container { max-width: 950px; }

    .h2 { --fs-1: 40px; }

   .vector-line {
      display: block;
      position: absolute;
    }

  .ellipse {
      width: 350px;
      height: auto;
      position: absolute;
      right: 0;
  }




    /**
     * HEADER
     */

    .header .logo { margin-right: 25px; }

    .menu-open-btn,
    .menu-close-btn,
    .navbar .logo { display: none; }

    .navbar {
      position: static;
      max-width: unset;
      height: unset;
      background: none;
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .navbar-list {
      margin-bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .navbar-link {
      position: relative;
      font-size: var(--fs-5);
      padding: 20px 25px;
    }

    .navbar-link::after {
      --scale: 0;

      content: "";
      position: absolute;
      bottom: 15px;
      left: 50%;
      transform: translateX(-50%) scale(var(--scale));
      background: var(--orange-web);
      width: 30px;
      height: 2px;
      border-radius: 2px;
      opacity: 0.5;
      transition: var(--transition);
    }

    .navbar-link:is(:hover, :focus)::after { --scale: 1; }

    .overlay { display: none; }

    /**
     * HERO
     */

    .hero .container {
      display: grid;
      grid-template-columns: 4fr 6fr;
      align-items: center;
      gap: 50px;
    }

    .hero-banner {
      margin-bottom: 0;
      order: 1;
    }



    /**
     * ABOUT
     */

    .about .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 50px;
    }

    .about-banner {
      position: relative;
      margin-bottom: 0;
    }

    .about-banner .vector-line {
      width: 400px;
      bottom: 50px;
      left: -50px;
    }

    .play-btn {
      width: 100px;
      height: 100px;
    }

    .about-content { max-width: unset; }



    /**
     * DEPARTMETNS
     */

    .departments {
      position: relative;
      z-index: 1;
    }

    .departments .vector-line {
      top: 100px;
      right: 0;
      z-index: -1;
    }

    .departments-title { max-width: 500px; }

    .departments-list { grid-template-columns: repeat(3, 1fr); }

    .departments-card {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }



    /**
     * INSTRUCTOR
     */

    .instructor {
      position: relative;
      z-index: 1;
    }

    .instructor .vector-line:first-child {
      top: 50px;
      left: 0;
      z-index: -1;
    }

    .instructor .title-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .instructor-title {
      max-width: 500px;
      margin-bottom: 0;
    }

    .instructor-list { grid-template-columns: repeat(3, 1fr); }

    .instructor .vector-line:last-child {
      bottom: -100px;
      left: 0;
      z-index: -1;
    }



    /**
     * CTA
     */

    .cta .title-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
    }

    .cta-title {
      position: relative;
      margin-bottom: 0;
      width: calc(100% - 200px);
    }

    .cta-title .vector-line {
      right: -20px;
      bottom: 0;
    }

    .cta-banner {
      left: 60%;
      width: 320px;
      bottom: -39px;
    }



    /**
     * FOOTER
     */

    .footer-link-box { grid-template-columns: repeat(4, 1fr); }

  }


  .button-container{
      display: flex;
      gap: -2px;
  }

  /* Slider container */
  .slider-card {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 16px;
    height: 250px;
    max-width: 500px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left; 
  }

  .card-content {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      margin: 0;
      padding: 20px;
  }

  .card-img {
      width: 60px; 
      height: 60px;
      border-radius: 50%;
      margin-right: 8px; 
      object-fit: cover; 
  }

  .text-content {
      display: flex;
      flex-direction: column;
  }

  .text-content h3 {
      margin: 0;
      font-size: 16px;
      color: #333;
  }

  .rating {
      font-size: 14px;
      color: #ff9800;
      margin-top: 4px;
  }

  .slider-card p {
      margin-top: 100px;
      font-size: 14px;
      color: #666;
      line-height: 1.5;
  }

  /* Navigasi tombol */
  .slider-navigation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  /* Container slider */
  .slider-container {
      width: 100%;
      max-width: 800px;
      margin: auto;
      position: relative;
      overflow: hidden;
  }

  /* Wrapper untuk card slider */
  .slider-wrapper {
      position: relative;
      display: flex;
      transition: transform 0.5s ease;
  }

  /* Styling untuk setiap card */
  .slider-card {
      min-width: 100%;
      text-align: center;
      padding: 16px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      background-color: #ffffff;
  }

  /* Tombol navigasi */
  .slider-btn {
      position: absolute;
      bottom: 0px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease;
  }

  .slider-btn:hover {
      background-color: #0056b3;
  }

  .prev-btn {
      left: 10px;
  }

  .next-btn {
      right: 10px;
  }

  /* Styling dots */
  .slider-dots {
      display: flex;
      justify-content: center;
      gap: 8px;
      margin-top: 20px;
  }

  .dot {
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: #ddd;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-bottom: 12px;
  }

  .dot.active {
      background-color: #007bff;
  }

   /**
     * CARD SLIDE
     */
     * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    .wrapper {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }



    .fitur-content {
      display: flex;
      flex-direction: column; /* Susun elemen secara vertikal */
      align-items: flex-start; /* Selaraskan elemen ke kiri */
      text-align: left; /* Teks juga disejajarkan ke kiri */
      padding: 20px; /* Tambahkan padding sesuai kebutuhan */
      margin-left: 5px; /* Geser seluruh elemen ke kanan */
      max-width: 30%;
      word-wrap: break-word;
      line-height: 1.6;
      order: 2;
    }
  
    .fitur-content p {
      margin: 20px 0;
    }
  
    .h2.fitur-title {
      margin-bottom: 0px; /* Jarak bawah h2 */
    }
  
    .section-text {
      margin-top: 0; /* Hilangkan atau kurangi jarak atas p */
    }

    .container2 {
        height: 500px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: start;
        order: 1;
    }

    .card2 {
        width: 90px;
        border-radius: 12px;
        background-size: cover;
        cursor: pointer;
        overflow: hidden;
        margin: 0 8px;
        display: flex;
        align-items: flex-end;
        transition: .6s cubic-bezier(.28,-0.03,0,.99);
        box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
        position: relative;
        background-color: rgba(0, 0, 0, 0.4);
    }
    
    label[for="c1"] {
        margin-left: 35px;
    }  

    .card2 > .row {
        color: rgb(255, 255, 255);
        display: flex;
        flex-wrap: nowrap;
        padding: 50px;
        position: relative;
        z-index: 2;
    }

    .card2 > .row > .description {
        display: flex;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        height: auto;
        min-height: 80px;
        width: 100%;
        opacity: 0;
        transform: translateY(30px);
        transition: all .3s ease;
        z-index: 3;
    }

    .description p {
        color: #ffffff;
        padding-top: 5px;
    }

    .description h4 {
        text-transform: uppercase;
        margin: 0;
        color: #ffffff;
    }
    
    .container2 input[type="radio"] {
        display: none;
    }

    input:checked + label {
        width: 500px;
    }

    input:checked + label .description {
        opacity: 1 !important;
        transform: translateY(0) !important;
    }
    label.card2 .description {
      opacity: 0.5;
      transform: translateY(10px);
      transition: all 0.5s ease; /* Tambahkan animasi transformasi */
    }

    label.card2 {
        transition: all 0.8s ease; /* Durasi dan kehalusan animasi */
    }

    label:hover {
        cursor: pointer; /* Memberikan efek hover */
    }

    .card2 {
        background-image: url("../img/ivana-square.jpg");
        background-size: cover;
        background-position: center;
    }

  /**
   * responsive for larger than 1200px screen
   */

  @media (min-width: 1200px) {

    /**
     * REUSED STYLE
     */

    .container { max-width: 1200px; }



    /**
     * DEPARTMENTS
     */

    .departments-title { max-width: 550px; }




    /**
     * INSTRUCTOR
     */

    .instructor { padding-bottom: 150px; }



    /**
     * CTA
     */

    .cta .title-wrapper { max-width: 64%; }

    .cta-banner { left: 68%; }

  }
